<div class="row">
  <div class="text-center mx-auto">
    <h2>ようこそCARAVANへ</h2>
    <p>ここでは皆様が美しいと思った風景や写真を感想とともに<br/>投稿してください。<br/>いいと思った投稿にはコメントやいいねをよろしくお願いします。</p>
  </div>
  <div class="box">
    <div id="images">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
    </div>
  </div>
</div>