<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <%= render "searches/user",users:@records %>
<% else @model == 'blog' %>
  <h3>Blogs search for "<%= @content %>"</h3>
  <%= render "searches/blog",blogs:@records %>
<% end %>